*{
	font-size:10px;
	line-height:2;
	padding:0;
	margin:0;
}
ul,li{
	list-style:none;
	
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	text-decoration:underline;
}
h3{
	font-size:10px;
}
header{
    width: 100%;
    height: 4.8rem;
    position: relative;
}
.huang-nav{
	width: 100%;
	height: 4.8rem;
	min-width: : 30rem;
	background-color: #0e0e0e;
}
.huang-logo-link {
	width: 12.2rem;
	height: 2.6rem;
	margin-top: 8px;
	margin-left: 20px;
	background-color: #0e0e0e;
	float: left;
}
.huang-logo-link img {
	width: 100%;
	height: 100%;
}
.huang-gengduo {
	float: right;
	width: 4rem;
	height: 100%;
	background-color: #0e0e0e;
	box-sizing: border-box;
	padding-top: 14px;
}
.huang-gengduo img {
	width: 20px;
	height: 20px;
}
.huang-geren {
	float: right;
	width: 4rem;
	height: 100%;
	background-color: #0e0e0e;
	box-sizing: border-box;
	padding-top: 14px;
}
.huang-geren img {
	width: 20px;
	height: 20px
}
.huang-container{
    align-content:center;
    justify-content:center;
    display:-webkit-flex;
	display: flex;
	flex-direction:cloumn;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
}
.huang-outer-1{
	width:96%;
	border:1px solid #d6d6d6;
	height:device-height;
	margin:6px 2%;
}
.huang-title-1{
	border-bottom:1px solid #d6d6d6;
	background-color:#F0F0F0;
}
.huang-title-1 h3{
	padding:0.5rem 4%;
}
.huang-content-1 ul{
	display:-webkit-flex;
	display: flex;
	flex-direction:cloumn;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
   
}
.huang-content-1 li{
	display:-webkit-flex;
	display: flex;
	flex-direction:column;
	align-content:center;
	justify-content:center;
	
}
.huang-content-1 a{
	
	margin-left:2rem;
}
.huang-outer-2{
	width:96%;
	border:1px solid #d6d6d6;
	height:device-height;
	margin-bottom:6px;
	margin-left:2%;
	margin-right:2%;
}
.huang-title-2{
	border-bottom:1px solid #d6d6d6;
	background-color:#F0F0F0;
}
.huang-title-2 h3{
	padding:0.5rem 4%;
}	
.huang-content-2 ul{
	display:-webkit-flex;
	display: flex;
	flex-direction:cloumn;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	
	}
.huang-content-2 li{
	display:-webkit-flex;
	display: flex;
	flex-direction:column;
	align-content:center;
	justify-content:center;
	
}
.huang-outer-3{
	width:96%;
	border:1px solid #d6d6d6;
	height:device-height;
	margin-bottom:6px;
	margin-left:2%;
	margin-right:2%;
}
.huang-title-3{
	border-bottom:1px solid #d6d6d6;
	background-color:#F0F0F0;
}
.huang-title-3 h3{
	padding:0.5rem 4%;
}	
.huang-content-3 ul{
	display:-webkit-flex;
	display: flex;
	flex-direction:cloumn;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	
}
.huang-content-3 li{
	display:-webkit-flex;
	display: flex;
	flex-direction:column;
	align-content:center;
	justify-content:center;
}

footer{
    border: none;
    position: relative;
    z-index: 7;
    width: 100%;
    height: 8rem;
    padding: 0;
    background: #2d2d30;
    color: #d6d6d6;
}
footer .huang-footer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.huang-footer p{
    text-align: center;
    line-height: 8rem;
    margin: 0;
    border: none;
}
.huang-footer a{
    color: #d6d6d6;
}